In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
df_emp=pd.read_csv('https://raw.githubusercontent.com/AkashChaudhare/EDA-EmployeeData/main/Data/employee_data.csv')
df_ins=pd.read_csv('https://raw.githubusercontent.com/AkashChaudhare/EDA-EmployeeData/main/Data/insurance_data.csv')
df_ven=pd.read_csv('https://raw.githubusercontent.com/AkashChaudhare/EDA-EmployeeData/main/Data/vendor_data.csv')

In [ ]:
df_emp.head()

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585
1,AGENT00002,Angelo Borjon,2005-12-27,414 Tanya Pass,NaN,Panama City,FL,32404,107363763,OPIS19290040088204
2,AGENT00003,Candy Spellman,2003-09-02,606 National Street,#306,Fayetteville,AR,72701,81744097,YSCJ67489688482590
3,AGENT00004,Mary Smith,2004-09-23,235 Hugh Thomas Drive,NaN,Panama City,FL,32404,67563771,ZANG21285355574581
4,AGENT00005,Mildred Diaz,2011-06-21,3426 Broadview Street,NaN,Montgomery,AL,36110,114951317,DZFS82244494451134

In [ ]:
df_ins.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,A,Total Loss,Ambulance,1,0,AL,Montgomery,0,AGENT00769,VNDR00592
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,A,Total Loss,Police,0,1,CO,Grand Junction,19,AGENT00883,VNDR00031
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,A,Minor Loss,Ambulance,0,0,GA,Savannah,12,AGENT00278,VNDR00075
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,A,Major Loss,Police,0,1,TN,Nashville,18,AGENT00636,VNDR00472

In [ ]:
df_ven.head()

,VENDOR_ID,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,VNDR00001,"King, Proctor and Jones",2027 North Shannon Drive,#5,Fayetteville,AR,72703
1,VNDR00002,Garcia Ltd,5701 East Shirley Lane,NaN,Montgomery,AL,36117
2,VNDR00003,Cherry LLC,1217 Cottondale Road,NaN,Montgomery,AL,36109
3,VNDR00004,Mays-Benson,227 West Montgomery Cross Road,#736,Savannah,GA,31406
4,VNDR00005,Wilson PLC,23 North Hill Street,NaN,Nashville,TN,37210

In [ ]:
print('-----------EMPLOYEE-----------')
print(df_emp.info())

-----------EMPLOYEE-----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   AGENT_ID            1200 non-null   object
 1   AGENT_NAME          1200 non-null   object
 2   DATE_OF_JOINING     1200 non-null   object
 3   ADDRESS_LINE1       1200 non-null   object
 4   ADDRESS_LINE2       179 non-null    object
 5   CITY                1193 non-null   object
 6   STATE               1200 non-null   object
 7   POSTAL_CODE         1200 non-null   int64
 8   EMP_ROUTING_NUMBER  1200 non-null   int64
 9   EMP_ACCT_NUMBER     1200 non-null   object
dtypes: int64(2), object(8)
memory usage: 93.9+ KB
None

In [ ]:
print('-----------INSURANCE-----------')
print(df_ins.info())

-----------INSURANCE-----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TXN_DATE_TIME             10000 non-null  object
 1   TRANSACTION_ID            10000 non-null  object
 2   CUSTOMER_ID               10000 non-null  object
 3   POLICY_NUMBER             10000 non-null  object
 4   POLICY_EFF_DT             10000 non-null  object
 5   LOSS_DT                   10000 non-null  object
 6   REPORT_DT                 10000 non-null  object
 7   INSURANCE_TYPE            10000 non-null  object
 8   PREMIUM_AMOUNT            10000 non-null  float64
 9   CLAIM_AMOUNT              10000 non-null  int64
 10  CUSTOMER_NAME             10000 non-null  object
 11  ADDRESS_LINE1             10000 non-null  object
 12  ADDRESS_LINE2             1495 non-null   object
 13  CITY                      9946 non-null   object
 14  STATE                     10000 non-null  object
 15  POSTAL_CODE               10000 non-null  int64
 16  SSN                       10000 non-null  object
 17  MARITAL_STATUS            10000 non-null  object
 18  AGE                       10000 non-null  int64
 19  TENURE                    10000 non-null  int64
 20  EMPLOYMENT_STATUS         10000 non-null  object
 21  NO_OF_FAMILY_MEMBERS      10000 non-null  int64
 22  RISK_SEGMENTATION         10000 non-null  object
 23  HOUSE_TYPE                10000 non-null  object
 24  SOCIAL_CLASS              10000 non-null  object
 25  ROUTING_NUMBER            10000 non-null  int64
 26  ACCT_NUMBER               10000 non-null  object
 27  CUSTOMER_EDUCATION_LEVEL  9471 non-null   object
 28  CLAIM_STATUS              10000 non-null  object
 29  INCIDENT_SEVERITY         10000 non-null  object
 30  AUTHORITY_CONTACTED       10000 non-null  object
 31  ANY_INJURY                10000 non-null  int64
 32  POLICE_REPORT_AVAILABLE   10000 non-null  int64
 33  INCIDENT_STATE            10000 non-null  object
 34  INCIDENT_CITY             9954 non-null   object
 35  INCIDENT_HOUR_OF_THE_DAY  10000 non-null  int64
 36  AGENT_ID                  10000 non-null  object
 37  VENDOR_ID                 6755 non-null   object
dtypes: float64(1), int64(9), object(28)
memory usage: 2.9+ MB
None

In [ ]:
print('-----------VENDOR-----------')
print(df_ven.info())

-----------VENDOR-----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   VENDOR_ID      600 non-null    object
 1   VENDOR_NAME    600 non-null    object
 2   ADDRESS_LINE1  600 non-null    object
 3   ADDRESS_LINE2  97 non-null     object
 4   CITY           594 non-null    object
 5   STATE          600 non-null    object
 6   POSTAL_CODE    600 non-null    int64
dtypes: int64(1), object(6)
memory usage: 32.9+ KB
None

## **TASK 1**

In [ ]:
df=pd.merge(df_ins,df_emp,how='left',on='AGENT_ID',suffixes=('_ins','_emp'))

In [ ]:
df=pd.merge(df,df_ven,how='left',on='VENDOR_ID')

In [ ]:
df=pd.DataFrame(df)

In [ ]:
print(sorted(list(df.columns)))

['ACCT_NUMBER', 'ADDRESS_LINE1', 'ADDRESS_LINE1_emp', 'ADDRESS_LINE1_ins', 'ADDRESS_LINE2', 'ADDRESS_LINE2_emp', 'ADDRESS_LINE2_ins', 'AGE', 'AGENT_ID', 'AGENT_NAME', 'ANY_INJURY', 'AUTHORITY_CONTACTED', 'CITY', 'CITY_emp', 'CITY_ins', 'CLAIM_AMOUNT', 'CLAIM_STATUS', 'CUSTOMER_EDUCATION_LEVEL', 'CUSTOMER_ID', 'CUSTOMER_NAME', 'DATE_OF_JOINING', 'EMPLOYMENT_STATUS', 'EMP_ACCT_NUMBER', 'EMP_ROUTING_NUMBER', 'HOUSE_TYPE', 'INCIDENT_CITY', 'INCIDENT_HOUR_OF_THE_DAY', 'INCIDENT_SEVERITY', 'INCIDENT_STATE', 'INSURANCE_TYPE', 'LOSS_DT', 'MARITAL_STATUS', 'NO_OF_FAMILY_MEMBERS', 'POLICE_REPORT_AVAILABLE', 'POLICY_EFF_DT', 'POLICY_NUMBER', 'POSTAL_CODE', 'POSTAL_CODE_emp', 'POSTAL_CODE_ins', 'PREMIUM_AMOUNT', 'REPORT_DT', 'RISK_SEGMENTATION', 'ROUTING_NUMBER', 'SOCIAL_CLASS', 'SSN', 'STATE', 'STATE_emp', 'STATE_ins', 'TENURE', 'TRANSACTION_ID', 'TXN_DATE_TIME', 'VENDOR_ID', 'VENDOR_NAME']

['ACCT_NUMBER', 'ADDRESS_LINE1', 'ADDRESS_LINE1_emp', 'ADDRESS_LINE1_ins', 'ADDRESS_LINE2', 'ADDRESS_LINE2_emp', 'ADDRESS_LINE2_ins', 'AGE', 'AGENT_ID', 'AGENT_NAME', 'ANY_INJURY', 'AUTHORITY_CONTACTED', 'CITY', 'CITY_emp', 'CITY_ins', 'CLAIM_AMOUNT', 'CLAIM_STATUS', 'CUSTOMER_EDUCATION_LEVEL', 'CUSTOMER_ID', 'CUSTOMER_NAME', 'DATE_OF_JOINING', 'EMPLOYMENT_STATUS', 'EMP_ACCT_NUMBER', 'EMP_ROUTING_NUMBER', 'HOUSE_TYPE', 'INCIDENT_CITY', 'INCIDENT_HOUR_OF_THE_DAY', 'INCIDENT_SEVERITY', 'INCIDENT_STATE', 'INSURANCE_TYPE', 'LOSS_DT', 'MARITAL_STATUS', 'NO_OF_FAMILY_MEMBERS', 'POLICE_REPORT_AVAILABLE', 'POLICY_EFF_DT', 'POLICY_NUMBER', 'POSTAL_CODE', 'POSTAL_CODE_emp', 'POSTAL_CODE_ins', 'PREMIUM_AMOUNT', 'REPORT_DT', 'RISK_SEGMENTATION', 'ROUTING_NUMBER', 'SOCIAL_CLASS', 'SSN', 'STATE', 'STATE_emp', 'STATE_ins', 'TENURE', 'TRANSACTION_ID', 'TXN_DATE_TIME', 'VENDOR_ID', 'VENDOR_NAME']

In [ ]:
df=df[['TRANSACTION_ID','CUSTOMER_ID','TXN_DATE_TIME','RISK_SEGMENTATION','VENDOR_ID', 'VENDOR_NAME', 'STATE', 'STATE_emp', 'STATE_ins','CLAIM_AMOUNT', 'CLAIM_STATUS','INCIDENT_SEVERITY', 'INCIDENT_STATE', 'INSURANCE_TYPE', 'AGENT_ID', 'AGENT_NAME', 'ANY_INJURY', 'AUTHORITY_CONTACTED','POLICE_REPORT_AVAILABLE','PREMIUM_AMOUNT','TENURE','EMPLOYMENT_STATUS','NO_OF_FAMILY_MEMBERS']]

# **TASK 2**
Complete

In [ ]:
df.groupby(by='INSURANCE_TYPE').count().sort_values('TRANSACTION_ID',ascending=False).head(3)['TRANSACTION_ID']

INSURANCE_TYPE
Mobile      1692
Property    1692
Health      1690
Name: TRANSACTION_ID, dtype: int64

# **TASK 3**
Complete

In [ ]:
df[df.RISK_SEGMENTATION=='H'].groupby(by='STATE_ins').count().sort_values('TRANSACTION_ID',ascending=False).head(5)['TRANSACTION_ID']

STATE_ins
CA    148
AZ    105
FL    104
TN    100
AR     97
Name: TRANSACTION_ID, dtype: int64

# **TASK 4**
Complete

In [ ]:
df['COLOCATION'] = np.where((df['STATE']==df['STATE_emp']) & (df['STATE']==df['STATE_ins']), 1, 0)

In [ ]:
colocation_mean=df['COLOCATION'].mean()
print(colocation_mean)

0.0035

# **TASK 5**
Complete

In [ ]:
df['AUTHORITY_CONTACTED']=np.where(df.POLICE_REPORT_AVAILABLE==1,'Police',df['AUTHORITY_CONTACTED'])

# **TASK 6**

In [ ]:
df.TXN_DATE_TIME=pd.to_datetime(df.TXN_DATE_TIME)

In [ ]:
df.sort_values('TXN_DATE_TIME',ascending=False).iloc[0]['TXN_DATE_TIME']

Timestamp('2021-06-30 00:00:00')

In [ ]:
a= df.TXN_DATE_TIME[0] 
a

Timestamp('2020-06-01 00:00:00')

In [ ]:
a - pd.DateOffset(months=1)

Timestamp('2020-05-01 00:00:00')

# **TASK 7**
Complete

In [ ]:
#Method 1

#id=[]
#claim=[]
#for i in df.AGENT_ID.unique():
#    p=df[df.AGENT_ID==i]
#    if len(p.INSURANCE_TYPE.unique())>2:
#        id.append(i)
#        claim.append(p.CLAIM_AMOUNT.sum())
#p=pd.DataFrame(zip(id,claim),columns=['AGENT_ID','TOTAL_CLAIM_AMOUNT'])
#p=p.sort_values(by='TOTAL_CLAIM_AMOUNT',ascending=False)

In [ ]:
#Method 2

df1=df.groupby(['AGENT_ID','INSURANCE_TYPE'],as_index=False).sum()[['AGENT_ID','INSURANCE_TYPE','CLAIM_AMOUNT']] #.groupby('AGENT_ID',as_index=False).sum()
df1

        AGENT_ID INSURANCE_TYPE  CLAIM_AMOUNT
0     AGENT00001         Mobile           500
1     AGENT00001          Motor         24000
2     AGENT00001       Property         58000
3     AGENT00001         Travel          3000
4     AGENT00002           Life         79000
...          ...            ...           ...
5459  AGENT01200           Life         66000
5460  AGENT01200         Mobile           900
5461  AGENT01200          Motor          4000
5462  AGENT01200       Property         10000
5463  AGENT01200         Travel          7000

[5464 rows x 3 columns]

In [ ]:
a=df1.groupby(by='AGENT_ID',as_index=True).sum()['CLAIM_AMOUNT']
a

AGENT_ID
AGENT00001     85500
AGENT00002     84000
AGENT00003    170300
AGENT00004    297600
AGENT00005     45000
               ...
AGENT01196    274000
AGENT01197    156600
AGENT01198    196400
AGENT01199    164700
AGENT01200    100900
Name: CLAIM_AMOUNT, Length: 1200, dtype: int64

In [ ]:
b=df1.groupby(by='AGENT_ID',as_index=True).count()['INSURANCE_TYPE']
b

AGENT_ID
AGENT00001    4
AGENT00002    2
AGENT00003    6
AGENT00004    6
AGENT00005    4
             ..
AGENT01196    4
AGENT01197    4
AGENT01198    4
AGENT01199    5
AGENT01200    6
Name: INSURANCE_TYPE, Length: 1200, dtype: int64

In [ ]:
result=list(zip(df1.AGENT_ID.unique(),a,b))

In [ ]:
task7result=pd.DataFrame(result,columns=['AGENT_ID','CLAIM_AMOUNT','INSURANCE_TYPE'])

In [ ]:
task7result=task7result[task7result.INSURANCE_TYPE>2].sort_values(by='CLAIM_AMOUNT',ascending=False)

In [ ]:
task7result.head()

       AGENT_ID  CLAIM_AMOUNT  INSURANCE_TYPE
806  AGENT00807        528800               6
678  AGENT00679        489000               4
770  AGENT00771        422100               5
124  AGENT00125        400400               4
788  AGENT00789        392900               4

# **TASK 8**
Complete

Let us check if there are any repeat customer claims

In [ ]:
len(df)==len(df.CUSTOMER_ID.unique())

True

In [ ]:
df.INSURANCE_TYPE.unique()

array(['Health', 'Property', 'Travel', 'Life', 'Motor', 'Mobile'],
      dtype=object)

In [ ]:
mobtrav=0
healthprop=0
lifemot=0

for i in range(len(df)):
    if df.INSURANCE_TYPE[i] in ('Mobile','Travel'):
        mobtrav+=df.PREMIUM_AMOUNT[i]
    elif df.INSURANCE_TYPE[i] in ('Health','Property'):
        healthprop+=df.PREMIUM_AMOUNT[i]
    else:
        lifemot+=df.PREMIUM_AMOUNT[i]

In [ ]:
perc_change=((mobtrav*1.1 + healthprop*1.07 + lifemot*1.02)*100/df.PREMIUM_AMOUNT.sum()-100)

In [ ]:
print(f'Percent change for premium income per unit time period is {perc_change}')

Percent change for premium income per unit time period is 5.828280541567892

# **TASK 9**
Complete

In [ ]:
df.ELIGIBLE_FOR_DISCOUNT=np.where((df.TENURE>60) & (df.EMPLOYMENT_STATUS=='N') & (df.NO_OF_FAMILY_MEMBERS>=4),1,0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [ ]:
discount_col_mean=df.ELIGIBLE_FOR_DISCOUNT.mean()
print(discount_col_mean)

0.0299

# **TASK 10**

# **TASK 11**

In [ ]:
df1=df.groupby(by=['AGENT_ID','AGENT_NAME'],as_index=False).count()[['AGENT_ID','AGENT_NAME','TRANSACTION_ID']]
#df1[df1.TRANSACTION_ID<df1.TRANSACTION_ID.quantile(q=0.05)]

In [ ]:
df_bottom5percentile=df1[df1.TRANSACTION_ID<df1.TRANSACTION_ID.quantile(q=0.05)]
print(df_bottom5percentile)

        AGENT_ID           AGENT_NAME  TRANSACTION_ID
1     AGENT00002        Angelo Borjon               3
13    AGENT00014          Larry Dryer               3
105   AGENT00106        Alice Burcham               3
119   AGENT00120         Janet Scales               3
155   AGENT00156            Mary Lane               2
251   AGENT00252          Harold Bonn               1
252   AGENT00253     Michael Cauffman               3
299   AGENT00300            Sean Tate               3
342   AGENT00343        Heather Piper               3
375   AGENT00376       David Donnelly               3
453   AGENT00454         Roscoe Ricci               3
461   AGENT00462      Charles Tabares               3
468   AGENT00469       Stephen Fanter               3
535   AGENT00536     Florence Ashlock               2
602   AGENT00603        Eleanor Timko               3
620   AGENT00621       Richard Murphy               2
627   AGENT00628      Marsha Kingsley               2
644   AGENT00645        Anthony Joshi               3
655   AGENT00656     Matthew Harrison               3
772   AGENT00773  David Brandenberger               3
789   AGENT00790          Clay Harmon               2
803   AGENT00804          Kenna Olsen               3
862   AGENT00863          Sarah Brown               3
886   AGENT00887         Ross Herndon               3
925   AGENT00926        Annie Bobbitt               3
933   AGENT00934          Roy Baldwin               3
957   AGENT00958          Luz Mcnally               3
1036  AGENT01037        Mary Franklin               3
1076  AGENT01077        Sandra Tucker               2
1128  AGENT01129     Christopher Amin               3
1153  AGENT01154       Nichole Wright               2
1160  AGENT01161      Charlotte Payne               1
1190  AGENT01191           Amy Helton               3

# **TASK 12**

In [ ]:
df1=df.groupby(by=['AGENT_ID','AGENT_NAME'],as_index=False).sum()

In [ ]:
mapper=dict(zip(list(df1.AGENT_ID),['Sus' if i>15000 else 'Not sus' for i in list(df1.CLAIM_AMOUNT)]))

In [ ]:
df['SUS_AGENT']=df.AGENT_ID.map(mapper)

In [ ]:
df['Sus_final']=np.where((df.SUS_AGENT=='Sus') & (df.RISK_SEGMENTATION=='H') & (df.CLAIM_STATUS=='A') & (df.INCIDENT_SEVERITY=='Major Loss'),1,0)

In [ ]:
df.Sus_final.mean()

0.0437